html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #f9fcfcbd;
}

@font-face {
    font-family: franchise;
    src: url('fontes/Franchise-Free-Bold.otf');
}

@font-face {
    font-family: roboto;
    src: url('fontes/NeueMontreal.ttf');
}

@font-face {
    font-family: neue;
    src: url('fontes/NeueMontreal-Regular.otf');
}

@font-face {
    font-family: nexa;
    src: url('fontes/Nexa-Heavy.ttf');
}

@font-face {
    font-family: satoshi;
    src: url('fontes/Satoshi-Regular.otf');
}

header {
    justify-content: space-evenly;
    border: 1px solid;
    position: sticky;
    top: 0;
    background: white;
    z-index: 5;
}

/* Elementos flexíveis */

header,
#headerLis,
#popular,
#site,
.secao,
#div-planos,
.botao-planos,
#conteinerONE,
#conteinerTWO,
.child-divs,
#conteinerTHREE,
footer,
#rodapeOne,
#conter, #CTWOCARDS, #CTWOANUNCIO, .teste {
    display: flex;
    align-items: center;
}

#spanGA {
    background-color: #785bec;
    font-family: franchise;
    font-size: 70px;
    padding: 0 8px 0 8px;
    border: 1px solid;
}

#headerLis {
    list-style-type: none;
}

#headerLis li {
    margin-right: 15px;
    font-family: roboto;
}

#div-titulo {
    text-align: center;
    font-family: roboto;
    padding: 0 20px 0 20px;
    overflow: hidden;
}

#suptitulo {
    font-size: 10px;
    font-family: neue;
}

#frase {
    margin-top: 60px;
}

#titulo {
    font-size: 210px;
    font-family: franchise;
    line-height: 0.01;
}

#subtitulo {
    animation: move linear 12s infinite;
    font: 30px neue bold;
    margin-bottom: 4%;
}

#conter {
    width: 80%;
    height: auto;
}

#popular {
    justify-content: center;
}

#site {
    width: 40vw;
    border: 1px solid;
    height: 70vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), transparent), url('fotos/iltp5.jpeg');
    background-position: center;
    background-size: cover;
}

#info {
    background: black;
    width: 40vw;
    height: 70vh;
    border: 1px solid;
    color: whitesmoke;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.inforight {
    margin-right: 15px;
    margin-left: 5px;
    font-family: roboto;
}

#info-t {
    font-size: 35px;
}

#info-txt {
    font-family: satoshi;
}

.autor {
    color: #666974;
    font-family: satoshi;
}

#t-popular {
    text-decoration: underline;
    font-family: franchise;
    font-size: 40px;
}

.color {
    background: #6746E9
}

#p-popular {
    padding-left: 5px;
}

.borda {
    border-left: 5px solid
}

#sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 20px 0 20px;
}

.secao {
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    width: 12%;
    height: 140px;
    border-radius: 10px;
    background: yellow;
}

.t-secao {
    margin-top: 10px;
}
#t-new {
    font-size: 70px;
    font-family: roboto;
    margin-top: 8%;
    text-align: center;
}

.bordaroxa {
    border-bottom: 10px solid #8468f3
}


#planos {
    font-family: roboto;
    border: 1px solid;
    border-color: #efeff1;
}

#t-planos {
    font-size: 70px;
    margin-top: 5%;
}

#t-planos,
#sub-planos {
    text-align: center;
}

#sub-planos {
    margin-bottom: 5%;
}

.smallborder {
    border-bottom: 5px solid #8468f3
}

#div-planos {
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.subDivs {
    border: 1px solid;
    padding-right: 2%;
    box-shadow: 15px 15px black;
    margin-bottom: 12%;
}

.subDivs h1 {
    text-align: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;
}

#bemPreto {
    background: black;
    color: whitesmoke
}

.botao-planos {
    padding: 20px 50px 20px 50px;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    background: black;
    color: whitesmoke;
    border: 1px solid;
    box-shadow: 5px 5px;
    font-family: satoshi;
}

#bemRoxo {
    background: #785bec;
}

#bt-p2 {
    background: #785bec;
    box-shadow: 5px 5px black;
    color: black;
}

#t-tec,
#t-cien,
#t-nat {
    text-align: center;
    font-size: 50px;
    font-family: roboto;
}

.divs,
.cien-divs,
.nat-divs {
    background: whitesmoke;
    width: 28vw;
    border: 1px solid;
    margin: 15px;
    height: 64vh;
}

.imgrow {
    background-size: cover;
    display: flex;
    background-position: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 40vh;
}

#backimg01 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/header.png');
}

#backimg02 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/codigo.jpg');
}

#backimg03 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/escovando.jpg');
}

#backimg04 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/HARU.jpeg');
}

#backimg05 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/copiadosgatos.jpeg');
}

#backimg06 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/dolar.jpg');
}

#backimg07 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/palhaco.jpg');
}

#backimg08 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/celveg.jpeg');
}

#backimg09 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/cogumelo.jpg');
}

#backimg10 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/diplpoda.jpeg');
}

.titulo {
    margin-left: 3%;
    margin-bottom: 2%;
    font-family: roboto;
    font-size: 30px;
    color: white;
}

.texto {
    font-weight: 600;
}

.txt-tec,
.txt-cien,
.txt-nat {
    font-family: satoshi;
    margin: 0 10px 10px 10px;
}

#conteinerONE {
    background: rgb(221, 216, 245);
    border-radius: 5px;
    justify-content: center;
    height: 75vh;
    margin: 0 2% 0 2%;
}

#CTWOCARDS {
    height: 140vh;
    width: 65vw;
    background: rgb(221, 216, 245);
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 1% 0 1%;
    border-radius: 5px;
}

.teste {
    height: 18vh;
    width: 28vw;
    font-family: roboto;
    
}

#outros {
    height: 7vh;
    justify-content: center;
    border: none;
}

.teste h1 {
    margin: 0 2% 0 2%;
}

.teste a:hover {
    color:  rgb(119, 93, 248);
}

#CTWOANUNCIO {
    height: 125vh;
    
    width: 31vw;
    flex-direction: column;
    justify-content: space-around;
}

.img-cien {
    width: 85%;
    height: 300px;
    margin: 20px 20px 0 20px;
    border: 1px solid;
}

.txt-cien {
    width: 85%;
    font-family: satoshi;
}

.fotos-cien {
    width: 100%;
    height: 100%;
}

#conteinerTHREE {
    background: rgb(221, 216, 245);
    justify-content: space-around;
    height: 75vh;
    margin: 0 2% 0 2%;
    border-radius: 5px;
}

.aviso {
    font-size: 20px;
    font-family: satoshi;
    font-weight: bold;
    text-align: center;
}

footer {
    margin-top: 3%;
    color: whitesmoke;
    background: black;
    justify-content: space-around;
    font-family: franchise;
    padding-bottom: 3%;
}

#t-head {
    font-size: 55px;
}

.fim {
    font-family: roboto;
}

.cor {
    color: #8466fc
}

#rodapeOne {
    flex-direction: column;
    justify-content: center;
    font-family: franchise;
}

#rodapeTWO ul {
    margin-top: 50%;
    list-style: none;
}

.li-fim {
    margin-bottom: 10px;
}


.li-fim:hover {
    color: #8468f3;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

#rodapeTWO {
    font-family: roboto;
    font-size: 20px;
}

@keyframes move {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

::-webkit-scrollbar {
    width: 5px;
    background: #f9fcfcbd;
}

::-webkit-scrollbar-thumb {
    background: #6746E9;
    border-radius: 12px;
}