html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background: #f9fcfcbd;
}

/* Configuração do tamanho das fontes */

/* PRA NÃO ESQUECER - 1.3vw é o mesmo que é 1.3 / 100 x 1000 = 13px */

p, li {
    font-size: 1.3vw;
}

@font-face {
    font-family: franchise;
    src: url('fontes/Franchise-Free-Bold.otf');
}

@font-face {
    font-family: roboto;
    src: url('fontes/NeueMontreal.ttf');
}

@font-face {
    font-family: neue;
    src: url('fontes/NeueMontreal-Regular.otf');
}

@font-face {
    font-family: nexa;
    src: url('fontes/Nexa-Heavy.ttf');
}

@font-face {
    font-family: satoshi;
    src: url('fontes/Satoshi-Regular.otf');
}

header {
    justify-content: space-evenly;
    border: 0.1vw solid;
    position: sticky;
    top: 0;
    background: white;
    z-index: 5;
}

/* Elementos flexíveis */

header,
#headerLis,
#destaques,
#site,
#div-planos,
.botao-planos,
#conteinerONE,
#conteinerTWO,
#conteinerTHREE,
footer,
#rodapeOne,
#conter, #CTWOCARDS, #CTWOANUNCIO, .teste, .subDivs, #aviso, #avisado {
    display: flex;
    align-items: center;
}

#spanGA {
    background-color: #886afd;
    font-family: franchise;
    font-size: 4.875vw;
    padding: 0 0.8vw 0 0.8vw;
    border: 0.1vw solid;
}

#headerLis {
    list-style-type: none;
}

#headerLis:hover :not(:hover) {
    color: gray;
  }
  
  #headerLis li {
    margin-right: 1.5vw;
    font-family: roboto;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  #headerLis li:hover {
    transform: scale(1.08);
  }


#div-titulo {
    text-align: center;
    font-family: roboto;
    padding: 0 2vw 0 2vw;
    overflow: hidden;
}

#suptitulo {
    font-size: 1vw;
    font-family: neue;
}

#frase {
    margin-top: 6vw;
    font-size: 1.5vw;
}

#titulo {
    font-size: 15vw;
    font-family: franchise;
    line-height: 0.01;
}

#subtitulo {
    animation: move linear 12s infinite;
    font: 2.2vw neue bold;
    margin-bottom: 4%;
}

#conter, #aviso {
    width: 80%;
    height: 25vh;
    flex-direction: column;
    padding: 3vw;
    border: 0.25vw solid;
    border-radius: 0.5vw;
    align-items: flex-start;
    justify-content: center;
    font-family: roboto;
    background: #ad9afa;
}

#conter h2 {
    font-family: satoshi;
    font-size: 2vw;
    
}

#destaques, #avisado {
    justify-content: center;
}

#site {
    width: 40vw;
    border: 1px solid;
    height: 70vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), transparent), url('fotos/iltp5.jpeg');
    background-position: center;
    background-size: cover;
}

#info {
    background: black;
    width: 40vw;
    height: 70vh;
    border: 0.1vw solid;
    color: whitesmoke;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#info-t {
    font-size: 4vw;
    margin-top: -1vw;
}

#info-txt {
    font-family: satoshi;
    font-size: 1.5vw;
    margin-top: -2vw;
}

.autor {
    color: #666974;
    font-family: satoshi;
    border-bottom: 0.2vw solid;
    padding-bottom: 2%;
}

.color {
    background:  #886afd;
}

.borda {
    border-left: 0.5vw solid
}

.bordaroxa {
    border-bottom: 10px solid #8468f3
}

#planos {
    font-family: roboto;
    margin-bottom: 4%;
}

#t-planos {
    font-size: 4.3vw;
    margin-top: 5%;
}

#t-planos,
#sub-planos {
    text-align: center;
}

#sub-planos {
    margin-bottom: 5%;
    font-size: 1.6vw;

}

.tituloPlano {
    font-size: 1.8vw;
}

.smallborder {
    border-bottom: 0.5vw solid #8468f3
}

#div-planos {
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.subDivs {
    border: solid 0.25rem black;
    box-shadow: 1rem 1rem 0 -0.25rem #ceeef8, 1rem 1rem 0 0 black;
    transition: box-shadow 0.3s ease;
    border-radius: 0.5vw;
    width: 30vw;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
}

.subDivs:hover {
    box-shadow: 0.5rem 0.5rem 0 -0.25rem #ceeef8, 0.5rem 0.5rem 0 0 black;
}

.subDivs h1 {
    text-align: center;
    border-bottom: 0.3vw solid;
    border-top: 0.3vw solid;
    padding: 2% 0 2% 0;
}

.subDivs li {
    margin: 0 3% 5% 3%;
    list-style-type: disc;
    font-family: satoshi;
    font-weight: bolder;
}

#bemPreto {
    background: whitesmoke;
}

#outnot {
    font-size: 2.5vw;
    border-top: 0.3vw solid;
    border-bottom: 0.3vw solid;
    padding: 0.5vw;
}

.botao-planos {
    padding: 2vw 5vw 2vw 5vw;
    margin-bottom: 7%;
    background: rgb(252, 252, 113);
    border: 0.1vw solid black;
    box-shadow: 0.5vw 0.5vw black;
    border: 0.3vw solid;
    border-radius: 0.5vw;
    font-family: roboto;
    font-size: 1.2vw;
    cursor: pointer;
}

#bemRoxo {
    background: #ad9afa;
}

#t-tec,
#t-cien,
#t-nat {
    text-align: center;
    font-size: 4vw;
    font-family: roboto;
}

.divs {
    background: whitesmoke;
    width: 28vw;
    margin: 1.5vw;
    border-radius: 0.5vw;
    border: 0.25vw solid;
    height: 66vh;
    transition: 0.3s ease;
}

.divs:hover {
    transform: scale(1.04);
  }

.txt-tec,
.txt-cien,
.txt-nat {
    font-family: satoshi;
    margin: 0 1vw 0.5vw 1vw;
}

.imgrow {
    background-size: cover;
    display: flex;
    background-position: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 40vh;
    border-bottom: 0.2vw solid;
}

#backimg01 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/header.png');
}

#backimg02 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/codigo.jpg');
}

#backimg03 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/escovando.jpg');
}

#backimg04 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/HARU.jpeg');
}

#backimg05 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/copiadosgatos.jpeg');
}

#backimg06 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/dolar.jpg');
}

#backimg07 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/palhaco.jpg');
}

#backimg08 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/celveg.jpeg');
}

#backimg09 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/cogumelo2.jpg');
}

#backimg10 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent), url('fotos/diplpoda.jpeg');
}

.titulo {
    margin-left: 3%;
    margin-bottom: 2%;
    font-family: roboto;
    font-size: 2.5vw;
    color: white;
}

.texto {
    font-weight: 600;
    margin-top: -2%;
}

#conteinerONE {
    background: rgb(221, 216, 245);
    border-radius: 0.5vw;
    justify-content: center;
    height: 75vh;
    margin: 0 2% 0 2%;
}

#CTWOCARDS {
    height: 147vh;
    width: 65vw;
    background: rgb(221, 216, 245);
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 1% 0 1%;
    border-radius: 0.5vw;
}

.teste {
    height: 18vh;
    width: 28vw;
    font-family: roboto;
    font-size: 1.25vw;
}

#outros {
    height: 7vh;
    justify-content: center;
    border: none;
}

.teste h1, #conteinerTHREE {
    margin: 0 2% 0 2%;
}

.teste a:hover {
    color:  rgb(139, 116, 253);
}

#CTWOANUNCIO {
    height: 130vh;
    width: 31vw;
    flex-direction: column;
    justify-content: space-around;
}

#conteinerTHREE {
    background: rgb(221, 216, 245);
    justify-content: space-around;
    height: 75vh;
    border-radius: 0.5vw;
}

footer {
    margin-top: 3%;
    color: whitesmoke;
    background: black;
    justify-content: space-around;
    font-family: franchise;
    padding-bottom: 3%;
}

#t-head {
    font-size: 5vw;
}

.fim {
    font-family: roboto;
}

.cor {
    color: #987eff
}

#aviso {
    font-family: satoshi;
    background: rgb(230, 88, 88)
}

#aviso p {
    font-size: 1.5vw;
    margin-top: -1vw;
}

#aviso-t {
    font-weight: bold;
    font-size: 3vw;
}



#rodapeOne {
    flex-direction: column;
    justify-content: center;
    font-family: franchise;
}

#rodapeTWO ul {
    margin-top: 50%;
    list-style: none;
}

.li-fim {
    margin-bottom: 1vw;
    font-size: 1.4vw;
}


.li-fim:hover {
    color: #8468f3;
}

.fim {
    font-size: 1.2vw;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

#rodapeTWO {
    font-family: roboto;
    font-size: 2vw;
}

@keyframes move {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

::-webkit-scrollbar {
    width: 5px;
    background: #f9fcfcbd;
}

::-webkit-scrollbar-thumb {
    background: #6746E9;
    border-radius: 12px;
}