@font-face {
    font-family: roboto;
    src: url('../fontes/NeueMontreal.ttf');
}

@font-face {
    font-family: franchise;
    src: url('../fontes/Franchise-Free-Bold.otf');
}

@font-face {
    font-family: monogatari;
    src: url('../fontes/Morganite-Bold.ttf');
}

@font-face {
    font-family: satoshi;
    src: url('../fontes/Satoshi-Regular.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    transition: 0.5s ease;
}

p,
li {
    font-size: 1.3vw;
}

h2 {
    font-size: 2.4vw;
}

#margem {
    margin: 1vw 6vw 1vw 6vw;
}

header {
    display: flex;
    justify-content: space-evenly;
    border: 0.2vw solid;
    position: sticky;
    top: 3vh;
    background: white;
    z-index: 5;
    width: 85%;
    border-radius: 50px;
    align-self: center;
    align-items: center;
    transition: 0.5s ease;
    margin-top: 2vw;
}

#spanGA {
    font: 4.875vw franchise;
    background: #886afd;
    border: 0.2vw solid;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-radius: 10px;
}

#headerLis {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#headerLis:hover :not(:hover) {
    color: gray;
}

#headerLis li {
    margin-right: 1.5vw;
    font-family: roboto;
    cursor: pointer;
    transition: 0.3s ease;
}

#headerLis li:hover {
    transform: scale(1.08);
}

a:visited,
a {
    color: inherit;
    text-decoration: none;
}

#titulo {
    font: 18vw monogatari;
    text-align: center;
    margin-top: -19vw;
    text-transform: uppercase
}

#subtitulo {
    font-family: satoshi;
    text-align: center;
    margin-top: -22vw;
    border-top: 0.25vw solid black;
}

#subtitulo::first-letter {
    text-transform: uppercase;
}

#seletorDeCores {
    margin-top: 2.5vw;
}

#cores {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cor {
    display: inline-block;
    width: 3vw;
    height: 6vh;
    border: 0.2vw solid black;
    cursor: pointer;
    margin-right: 1vw;
}

#poster {
    margin-top: 5vw;
    width: 85.5vw;
    display: flex;
    flex-direction: column;
}

#conteinerPoster {
    width: 80vw;
    height: 40vw;
    border: 0.25vw solid;
    border-radius: 20px;
    align-self: center;
    object-fit: cover; /* Redimensiona a imagem para cobrir todo o espaço disponível */
    object-position: center;
}

#conteinerPoster img {
    border-radius: 17px;
}

#complementos {
    display: flex;
    justify-content: space-between;
    width: 78vw;
    align-self: center;
    margin-bottom: -1.5vh;
}

#data,
#autor,
#numeracao {
    font-family: roboto;
    color: gray;
    font-size: 1vw;
}

#fonte {
    font-size: 1vw;
    margin-top: 0.2vw;
    padding-bottom: 0.3vw;
    border-bottom: 0.15vw solid;
}

.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}

#imgDoTexto {
    width: 35vw;
    height: 60vh;
    object-fit: contain;
}

.imgDoTxtCover {
    margin-top: 1vw;
    width: 35vw;
    height: 60vh;
    object-fit: cover;
    border: 0.2vw solid;
}


#materia {
    margin-top: 3vw;
    border: 0.1vw solid;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vw;
}

.destacado {
    color: #6746E9;
}

#ilustrado {
    width: 35vw;
    height: 58vh;
    margin-bottom: 2.5vw;
}

.paragrafo {
    width: 38vw;
    font-family: satoshi;
    font-weight: 800;
    margin-top: 2vw;
}

#modoLeitura {
    background: yellow;
    margin-top: 2vw;
}

#voltar {
    font-family: roboto;
    color: gray;
    transition: 0.3s ease;
    display: inline-block;
}

#voltar:hover {
    color: black;
}

#voltar::before {
    content: '\2190';
    /* Unicode para uma seta apontada para a esquerda */
    padding-right: 1vw;
}

footer {
    margin-top: 3%;
    background: #101010;
    flex-direction: column;
    align-items: flex-start;
    padding: 3% 1%;
}

#conteinerDoFooter {
    display: flex;
    align-items: flex-start;
}

#t-head {
    font-size: 5vw;
}

.fim {
    font: 1, 2vw roboto;
}

.rodapeOne {
    font-family: satoshi;
    color: rgb(228, 228, 228);
    padding-right: 3vw;
}

.tituloDoUl {
    font-size: 1.6vw;
    color: white;
    cursor: auto;
}

.rodapeOne ul {
    list-style-type: none;
}

.rodapeOne li {
    margin-bottom: 3%;
    transition: 0.2s ease;
    cursor: pointer;
    color: gray;
}

.rodapeOne li:hover {
    color: whitesmoke;
}

#rodapeTWO {
    font: 1.3vw satoshi;
    color: gray;
    align-self: center;
    text-align: center;
}

::selection {
    color: black;
    background: yellow;
}

::-webkit-scrollbar {
    width: 0.5vw;
    background: #f9fcfcbd;
}

::-webkit-scrollbar-thumb {
    background: #6746E9;
    border-radius: 1.25vw;
}